@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;1,300&display=swap");

.home {
  background-color: #f0f2f5;
}

.twoPanels {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.taglineSection {
  justify-content: space-between;
  padding: 80px 30px;
  height: 80vh;
  background: rgb(240, 242, 245);
  background: radial-gradient(
    circle,
    rgba(137, 190, 147, 1) 0%,
    rgba(211, 227, 215, 1) 45%,
    rgba(240, 242, 245, 1) 100%
  );
  // background: rgb(108,95,206);
  // background: radial-gradient(circle, rgba(108,95,206,1) 0%, rgba(148,143,185,1) 35%, rgba(240,242,245,1) 100%);
}

.taglineAndCTA {
  padding-left: 30px;
  width: 50%;
}

.openWifiButton {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  width: 152px !important;
  padding: 8px 12px;
  width: fit-content;

  .openWifiIcon {
    opacity: 0;
    width: 0;

    span {
      height: 24px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #f0f2f5;
    width: 169px !important;
    transition: width 0.25s, background-color 0.5s;

    .openWifiIcon {
      width: 16px;
      opacity: 1;
      padding-left: 10px;
      transition: width 0.5s, opacity 0.5s;
      transition-delay: 0.5s;
      animation: 0.5s 0.5s 2 slideIcon;
    }
  }
}

@keyframes slideIcon {
  from {
    padding-left: 5px;
  }
  to {
    padding-left: 10px;
  }
}

.tagline {
  padding: 15px 0px;
  font-size: 40px;
}

.supportText {
  line-height: 1.8;
  padding-bottom: 15px;
}

.customerSection {
  background-color: #f0f2f5;
  padding-left: 30px;
  color: #242526;
}

.customerSegmentHelperText {
  padding-left: 30px;
  margin-bottom: 30px;
}

.openWifiSection {
  height: 120vh;
  background: rgb(199, 207, 214);
  background: linear-gradient(
    180deg,
    rgba(199, 207, 214, 1) 0%,
    rgba(233, 236, 239, 1) 75%
  );
  display: flex;
  flex-flow: column nowrap;
  .openWifiSectionHeader {
    margin: 40px 80px;
    align-items: flex-start;
    p {
      font-family: "Figtree", sans-serif;
    }
    h1 {
      margin: 0;
    }
  }
}

.benefits {
  display: flex;
  flex-flow: column nowrap;
  margin: 40px 20%;
  // margin-top: 40px;
  // margin-bottom: 40px;
  // margin-left: 30%;
  row-gap: 40px;
}
